/* 
================================================================================
COMPONENT STYLESHEET
================================================================================ */
body {
	font-family: Arial, Verdana, sans-serif;
	background-image: url(Sunset.jpg);
}

a {

	text-decoration: none;
	color: #fff;
}

ul > li {
	display: inline-block;
	list-style-type: none;
}

label {
	visibility: hidden;
}

/* HEADER ======================================== */
header li a {
	display: block;
	width: 40px;
	height: 40px;
	text-indent: -9999px;
}

header ul:nth-of-type(1){
	position: absolute;
	top: 2px;
	left: 10px;
	border: 1px solid green;
}

header ul:nth-of-type(2){
	position: absolute;
	top: 2px;
	right: 20px;
	border: 1px solid green;
}

header li:nth-of-type(1) a { 
	background: url(tumblrlogo.png);
	background-size: 40px 40px;
  background-repeat: no-repeat;
}

header form p{
	display: inline;
	margin: 0 10px;
	padding: 0;
	border: 1px solid red;
}


/* Sign Up Form ======================================== */

section {
	position: absolute;
	top: 70px;
	left: 0;
	width: 100%;
}

article {
	width: calc(100%/4);
	margin: 130px auto;	
	text-align: center;
	background-image: url(tumblrtext.png);
	background-size: 70%;
	background-repeat: no-repeat;
	background-position: center top;
	overflow: hidden;
}

article form {
	margin-top: 70px;
	padding: 0;
	font-size: 0px;
}

article form input {
	width: 100%;
	margin: 0;
	padding: 20px;
	font-size: 18px;
	border: 0px;
	outline: none;
}

article form input[type="email"]{
	border-radius: 2px 2px 0 0;
	border-bottom-width: 1px;
	border-bottom-color: #bbb;
	border-bottom-style: solid;
}

article input[type="submit"]:nth-child(3){
	width: 100%;
	padding: 10px;
	margin-top: 30px;
	background-color: #0d99ea;
	font-size: 18px;
	border-radius: 2px;
	color: white;
}

article img {
	margin: 100px 50px;
	width: 150px;
	height: 40px;
	border-radius: 5px;
}

section ul:nth-child(1) {
	position: absolute;
	bottom: 0;
	left: 20px;
	width: calc(100%/2);
	margin-top: 100px;
	padding: 0;
	border: 1px solid yellow;
}

section ul:nth-child(1) li {
	margin-right: 20px;
}

section p:nth-child(3){
	position: absolute;
	bottom: 0;
	right: 20px;
}