<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Corey Gumbs</title>
	<!--<link rel="stylesheet" type="text/css" href="../../css/reset.css" />-->
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

	<!-- Component -->
		<header>
			<ul>
				<li><a href="#">Tumblr</a></li>
				<li>
					<form>
						<p><input type="text" name="" id="" placeholder="Search Tumblr"></p>
					</form>
				</li>
			</ul>
			<ul>
				<li><button>Log in</buton></li>
				<li><button>Sign up</button></li>
			</ul>
	</header>
	<section>
		<article>
			<form>
				<p><label for="">Email</label><input type="email" name="email" id="email" placeholder="Email"></p>
				<p><label for="">Password</label> <input type="password" name="password" id="password" placeholder="Password"></p>
				<input type="submit" value="Log In">
			</form>
			<p><a href="">Forgot your password?</a></p>
			<ul>
				<li><a href="#"><img src="applestore.png" alt="Click here to get the Tumblr app in the Apple store. "></a></li>
				<li><a href="#"><img src="googleplay.png" alt="Click here to get the Tumblr app in the Google Play store."></a></li>
			</ul>
		</article>
		<ul>
			<li><a href="#">Terms</a></li>
			<li><a href="#">Privacy</a></li>
			<li><a href="#">Jobs</a></li>
			<li><a href="#">Support</a></li>
		</ul>
		<p>Posted by <a href="#">stevenseighmanphotos <img src="userpic.png" height="30" width="30"></a></p>
	</section>
	<!-- End Component -->
	
</body>
</html>