<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Firstname Lastname</title>
	<!--<link rel="stylesheet" type="text/css" href="../../css/reset.css" />-->
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

	<!-- Component -->
<footer>
	<section>
		<article>
			<h3>About Us</h3>
			<ul>
				<li><a href="#">Our Company</a></li>
				<li><a href="#">Investor Relations</a></li>
				<li><a href="#">Newsroom</a></li>
			</ul>
		</article>
		<article>
			<h3>Career Center</h3>
			<ul>
				<li><a href="#">Working at Starbucks</a></li>
				<li><a href="#">College Plan</a></li>
				<li><a href="#">Current Partners</a></li>
				<li><a href="#">Corporate Careers</a></li>
				<li><a href="#">Manufacturing and Distribution</a></li>
				<li><a href="#">Retai Careers</a></li>
				<li><a href="#">International Careers</a></li>
			</ul>
		</article>
		<article>
			<h3>For Business</h3>
			<ul>
				<li><a href="#">Office Coffee</a></li>
				<li><a href="#">Starbucks Coffee International</a></li>
				<li><a href="#">Foodservice</a></li>
				<li><a href="#">Licensed Stores</a></li>
				<li><a href="#">Starbucks Card Corporate Sales</a></li>
				<li><a href="#">Landlord Support Center</a></li>
				<li><a href="#">Suppliers</a></li>
			</ul>
		</article>
		<article>
			<h3>Online Community</h3>
			<ul>
				<li><a href="#">Twitter</a></li>
				<li><a href="#">Facebook</a></li>
				<li><a href="#">Youtube</a></li>
				<li><a href="#">My Starbucks Idea</a></li>
			</ul>
		</article>
		<article>
			<h3>Quick Links</h3>
			<ul>
				<li><a href="#">My Account</a></li>
				<li><a href="#">Store Locator</a></li>
				<li><a href="#">Nutrion Info</a></li>
				<li><a href="#">Customer Service</a></li>
			</ul>
		</article>
		<div>
			<ul>
				<li>
					<a href="#">
						<img src="us.png" height="11" width="16" alt="United States Flag"> Change Region &raquo;
					</a>
				</li>
				<li>
					| English
				</li>
			</ul>
		</div>
		<div>
			<ul>
				<li><a href="">Web Accessibility | </a></li>
				<li><a href="">Privacy Policy | </a></li>
				<li><a href="">Terms of Use | </a></li>
				<li><a href=""> Contact Us | </a></li>
				<li><a href="">Partners | </a></li>
				<li><a href="">Site Map</a></li>
			</ul>
		</div>
</footer>
	

	<!-- End Component -->
	
</body>
</html>