<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Corey Gumbs</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

	<!-- Component -->

<header>
	<ul id="userLinks">
		<li><a href="#">Create an Account</a></li>
		<li><a href="#">Log In</a></li>
	</ul>
	<ul id="socialLinks">
		<li><a href="#">Tumblr</a></li>
		<li><a href="#">Twitter</a></li>
		<li><a href="#">Facebook</a></li>
	</ul>
	<nav>
		<img src="logo.png" alt="DXScript Logo">
		<ul>
			<li><a href="#">Home</a></li>
			<li><a href="#">About Us</a></li>
			<li><a href="#">Most Popular</a></li>
			<li><a href="#">Faqs</a></li>
			<li><a href="#">Contacts</a></li>
			<li></li>
		</ul>
		<form>
			<p><label for="">Search:</label><input type="text"></p>
			<p><input type="image" src="mag.png" alt="magnifying glass: press to start search"></p>
		</form>
	</nav>
</header>

	<!-- End Component -->
	
</body>
</html>