<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Corey Gumbs</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />	
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

	<!-- Component -->
<article>
	<h1>Listen free or subscribe to Spotify Premium.</h1>
	<section id="leftCTA">
		<h2>This is Spotify Free</h2>
		<ul>
			<li>Shuffle play any artist or playlist on mobile.</li>
			<li>Made possible by ads.</li>			
			<li>Skip 6 times per hour on mobile.</li>
		</ul>
		<button>Get Free</button>
	</section>
	<section>
		<h2>This is Spotify Premium</h2>
	<h3>Try 3 months now for 1.99</h3>
	<ul>
		<li>Play on-demand on mobile.</li>
		<li>Listen offline. No connection needed.</li>
		<li>Ad-free.</li>
		<li>Unlimited skips.</li>
		<li>Better sound quality.</li>
		<li>Play Spotify on your home speakers.</li>
	</ul>
	<button>Go Premium</button>
	</section>	
</article>
	

	<!-- End Component -->
	
</body>
</html>