<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Corey Gumbs</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

	<!-- Component -->
<article>
	<section>
		<img src="twitter.png" alt="Current News, Community, Friends, Conversations. Check out Twitter.com ">
		<h1>See what's happening right now.</h1>
		<p>Find community, conversation, and inspiration about the things you love.</p>
	</section>
</article>
	<!-- End Component -->
	
</body>
</html>