<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Corey Gumbs</title>
	<!--<link rel="stylesheet" type="text/css" href="../../css/reset.css" />-->
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

	<!-- Component -->
	<section>
			<img src="map.png" alt="A map of all of our locations">
		<section>
			<h1>Contact Info</h1>
				<article>
					<h2>1234 Somewhere Rd.
					New York, New York 11002</h2>
					<ul>
						<li>Telephone:</li>
						<li>1-212-555-4567</li>
					</ul>
					<ul>
						<li>Fax:</li>
						<li>1-212-555-9087</li>
						<li>Email:</li>
						<li>None@none.com</li>
					</ul>
				</article>
				<article>
					<h2>2234  W 14th Street
					Brooklyn, New York 11212</h2>
					<table>
						<tr>
							<td>Telephone:</td>
							<td>1-718-555-9078</td>
						</tr>
						<tr>
							<td>Fax:</td>
							<td>1-718-555-1233</td>
						</tr>
						<tr>
							<td>Email:</td>
							<td>None@none.com</td>
						</tr>
					</table>
				</article>
			</section>
			<section>
				<article>
					<h2>6788 Farmers Blvd.
					Queens, New York 11413</h2>
					<table>
						<tr>
							<td>Telephone:</td>
							<td>1-718-555-1100</td>
						</tr>
						<tr>
							<td>Fax:</td>
							<td>1-718-555-4356</td>
						</tr>
						<tr>
							<td>Email:</td>
							<td>None@none.com</td>
						</tr>
					</table>
				</article>
			</section>
		</article>
	</section>
	<section>
		<article>
			<form>
				<input type="text" name="name" id="name" placeholder="Name">
				<input type="email" name="email" id="email" placeholder="Email">
				<input type="tel" name="telephone" id="telephone" placeholder="Telephone">
				<textarea placeholder="Tell us what you think."></textarea>
				<input type="submit" value="Send">
			</form>
		</article>
	</section>
	<!-- End Component -->
	
</body>
</html>