<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Corey Gumbs</title>
	<link rel="stylesheet" type="text/css" href="../../css/reset.css" />
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

	<!-- Component -->

		<nav>
				<ul>
				<li><a href="#">Images</a></li>
				<li><a href="#">Videos</a></li>
				<li><a href="#">Maps</a></li>
				<li><a href="">News</a></li>
				<li><a href="">More</a></li>
				<li><a href="">Search History</a></li>
				<li>|</li>
				<li><a href="">Msn</a></li>
				<li><a href="">Office Online</a></li>
				<li><a href="">Outlook.com</a></li>
			</ul>
			<ul id="avatarInfo">
				<li><a href="#">1 <img src="badge.png" alt="user badge of honor"></a></li>
				<li>Corey  <img src="avatar.png" height="45" width="44" alt=" or profile picture."></li>
				<li><img src="settings.png" alt="setting icon."></li>
			</ul>
		</nav>
	<section>
		<article>
			<form action="">
				<p><input type="text" name="searchEntry" id="searchEntry"></p>
				<button></button>
			</form>
		</article>
	</section>
	<footer>
		<ul>
				<li><a href="#">&copy; 2015 Microsoft</a></li>
				<li><a href="#">Privacy and Cookies</a></li>
				<li><a href="#">Legal</a></li>
				<li><a href="">Advertise</a></li>
				<li><a href="">About our ads</a></li>
				<li><a href="">Help</a></li>	
				<li><a href="">Feeback</a></li>
			</ul>
	</footer>
	<!-- End Component -->
	
</body>
</html>