<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Corey Gumbs</title>
	<!--<link rel="stylesheet" type="text/css" href="../../css/reset.css" />-->
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>

	<!-- Component -->
	<section>
		<article>
			<ul>
				<li><a href="#">Images</a></li>
				<li><a href="#">Videos</a></li>
				<li><a href="#">Maps</a></li>
				<li><a href="">News</a></li>
				<li><a href="">More</a></li>
				<li><a href="">Search History</a></li>
				<li>|</li>
				<li><a href="">Msn</a></li>
				<li><a href="">Office Online</a></li>
				<li><a href="">Outlook.com</a></li>
			</ul>
		</article>
		<article>
			<ul>
				<li>1 <img src="badge.png" alt="user badge of honor"></li>
				<li>Corey  <img src="avatar.png" height="45" width="44" alt=" or profile picture."></li>
				<li><img src="settings.png" alt="setting icon."></li>
			</ul>
		</article>
	</section>
	<section>
		<article>
			<img src="bing.png" alt="bing search engine logo">
			<form action="">
				<input type="text" name="searchEntry" id="searchEntry">
				<input type="submit" value="submit">
				<img src="magnifyingglass.png" alt="magnifying glass button for search entry.">
			</form>
		</article>
	</section>

	<!-- End Component -->
	
</body>
</html>