<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Corey Gumbs</title>
	<!--<link rel="stylesheet" type="text/css" href="../../css/reset.css" />-->
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>
	<!-- Component -->
			<section>
				<article>
						<h1>Bronze</h1>
						<section>
						<h2>$1.89/month</h2>
						</section>
					<ul>
						<li>Lorem ipsum dolor sit amet</li>
						<li>Consectetur adipiscing elit</li>
						<li>Donec tempus vitae eros nec pharetra</li>
						<li>Mauris pulvinar, nibh eget ultrices varius</li>
						<li>Ipsum tortor tempor est, at rutrum magna</li>
					</ul>
					<button>purchase</button>
				</article>
				<article>
					<h1>Silver</h1>
					<section>
					<h2>$2.89/month</h2>
					</section>
					<ul>
						<li>Lorem ipsum dolor sit amet</li>
						<li>Consectetur adipiscing elit</li>
						<li>Donec tempus vitae eros nec pharetra</li>
						<li>Mauris pulvinar, nibh eget ultrices varius</li>
						<li>Ipsum tortor tempor est, at rutrum magna</li>
					</ul>
					<button>purchase</button>
				</article>
				<article>
					<h1>Gold</h1>
					<section>
					<h2>$3.89/month</h2>
					</section>
					<ul>
						<li>Lorem ipsum dolor sit amet</li>
						<li>Consectetur adipiscing elit</li>
						<li>Donec tempus vitae eros nec pharetra</li>
						<li>Mauris pulvinar, nibh eget ultrices varius</li>
						<li>Ipsum tortor tempor est, at rutrum magna</li>
					</ul>
					<button>purchase</button>
				</article>
				<article>
					<h1>Platinum</h1>
					<section>
					<h2>$4.89/month</h2>
					</section>
					<ul>
						<li>Lorem ipsum dolor sit amet</li>
						<li>Consectetur adipiscing elit</li>
						<li>Donec tempus vitae eros nec pharetra</li>
						<li>Mauris pulvinar, nibh eget ultrices varius</li>
						<li>Ipsum tortor tempor est, at rutrum magna</li>
					</ul>
					<button>purchase</button>
				</article>
			</section>
	<!-- End Component -->
	
</body>
</html>