/* 
================================================================================
COMPONENT STYLESHEET
================================================================================ */
body {
	background: #1bb51f;
	font-family: Arial, Helvetica, sans-serif;
}

h1 {
	margin: 15px 20px;
	font-size: 35px;
}

h2 {
	margin: 0px 0px;
	font-size: 70px;
}

ul{
	padding: 0;
}

li {
	margin: 10px 10px;
	padding: 5px;
	font-size: 14px;
	list-style-type: none;
}

li::before {
	content: url(arrow.png);
	margin-right: 5px;
	vertical-align: -20%;

}

section p {
	position: relative;
	top: -80px;
	left: 80px;
}

section p span {
	display: block;
	font-size: 18px;
	margin-left: 0px;
	}

section p span:nth-of-type(1){
	margin-top: -10px;
	font-size: 45px;
	line-height: 1em;
}

input[type="image"]{
	margin-right: 20px;
	float: right;
	outline: 0;
}

/* Layout ======================================== */

section:nth-child(1){
	width: 100%;
	height: 450px;
	margin-top: 150px;
	background-color: #073360;
	border-radius: 5px;
	color: #fff;
}

section:nth-child(2){
	height: 70px;
	padding: 20px;
	background-color: #0c2d4c;
}

article {
	width: calc(100%/5);
	height: 450px;
	margin: -70px 20px;
	border-radius: 10px;
}

article:nth-of-type(1){
	margin-left: 80px;
	background-color: #1592a4;
	float: left;
}
article:nth-of-type(2){
	background-color: #5f42b9;
	float: left;
}
article:nth-of-type(3){
	background-color: #3386ec;
	float: left;
}
article:nth-of-type(4){
	background-color: #96169e;
	float: left;
}





/* HEADER ======================================== */