<!DOCTYPE html>
<html>
<head>
	<title>WSP Component: Corey Gumbs</title>
	<!--<link rel="stylesheet" type="text/css" href="../../css/reset.css" />-->
	<link rel="stylesheet" type="text/css" href="component.css" />
</head>
<body>
	<!-- Component -->
			<section>
				<article>
						<h1>Bronze</h1>
						<section>
						<h2>$1</h2>
						<p><span>.89</span><span>/month</span></p>
						</section>
					<ul>
						<li>Lorem ipsum dolor sit amet</li>
						<li>Consectetur adipiscing elit</li>
						<li>Donec tempus vitae eros nec</li>
						<li>Mauris pulvinar, nibh eget ultrices</li>
						<li>Ipsum tortor tempor est, at rutrum</li>
					</ul>
					<input type="image" src="chevron.png">
				</article>
				<article>
					<h1>Silver</h1>
					<section>
					<h2>$2</h2>
					<p><span>.89</span><span>/month</span></p>
					</section>
					<ul>
						<li>Lorem ipsum dolor sit amet</li>
						<li>Consectetur adipiscing elit</li>
						<li>Donec tempus vitae eros nec</li>
						<li>Mauris pulvinar, nibh eget ultrices</li>
						<li>Ipsum tortor tempor est, at rutrum</li>
					</ul>
					<input type="image" src="chevron.png">
				</article>
				<article>
					<h1>Gold</h1>
					<section>
					<h2>$3</h2>
					<p><span>.89</span><span>/month</span></p>
					</section>
					<ul>
						<li>Lorem ipsum dolor sit amet</li>
						<li>Consectetur adipiscing elit</li>
						<li>Donec tempus vitae eros nec</li>
						<li>Mauris pulvinar, nibh eget ultrices</li>
						<li>Ipsum tortor tempor est, at rutrum</li>
					</ul>
					<input type="image" src="chevron.png">
				</article>
				<article>
					<h1>Platinum</h1>
					<section>
					<h2>$4</h2>
					<p><span>.89</span><span>/month</span></p>
					</section>
					<ul>
						<li>Lorem ipsum dolor sit amet</li>
						<li>Consectetur adipiscing elit</li>
						<li>Donec tempus vitae eros nec</li>
						<li>Mauris pulvinar, nibh eget ultrices</li>
						<li>Ipsum tortor tempor est, at rutrum</li>
					</ul>
					<input type="image" src="chevron.png">
				</article>
			</section>
	<!-- End Component -->
	
</body>
</html>